@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

@import url("../components/alert/alert.css");
@import url("../components/avatar/avatar.css");
@import url("../components/badge/badge.css");
@import url("../components/button/button.css");
@import url("../components/card/card.css");
@import url("../components/grid/grid.css");
@import url("../components/image/image.css");
@import url("../components/input/input.css");
@import url("../components/lists/lists.css");
@import url("../components/modal/modal.css");
@import url("../components/navigation/navigation.css");
@import url("../components/rating/rating.css");
@import url("../components/toast/toast.css");
@import url("../components/typography/typography.css");
@import url("../components/slider/slider.css");
@import url("../css/utilities.css");

* {
  margin: 0;
  font-family: "Playfair Display", serif;
}

:root {
  --primary-color: #fa2742;
  --secondary-color: #373833;
  --background-color: #e8eae3;

  --danger-color: #bd1616;
  --success-color: #34be82;
  --warning-color: #ffbd35;

  --white: #ffffff;
  --off-white: #f5f5f5;
  --gray: #808080;
  --orange: #ffa500;
}
