.grid-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navbar navbar navbar navbar navbar"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 0.4rem 0 1rem 0;
  border: none;
  height: 1px;
  background: var(--secondary-color);
}
.brand-name {
  color: var(--primary-color);
}

.footer-navigation {
  margin-top: 2rem;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-navigation a {
  color: var(--primary-color);
  font-weight: 600;
}
.color {
  height: 7rem;
  width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.color p {
  color: white;
  margin-left: 0.4rem;
}
.color span {
  color: white;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}
#color-name {
  color: black;
}
.color-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 1rem 0;
}

.components-list-item {
  margin: 1rem 1rem;
}

.components-heading {
  color: var(--secondary-color);
  font-weight: 600;
}

.components-list-item a {
  color: var(--secondary-color);
  font-weight: 400;
}
.components-list-item a:hover {
  color: var(--primary-color);
}

.font-family a {
  text-decoration: none;
  color: var(--primary-color);
}

.code-output-container {
  box-sizing: border-box;
  border: 3px solid lightgray;
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.code-example-container {
  box-sizing: border-box;
  width: 100%;
}

.main h2 {
  font-weight: 600;
  color: var(--secondary-color);
  margin: 2rem 0 1rem 0;
}
.main h1 {
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
#main-section {
  grid-area: main;
  margin: 2rem 0 6rem 6rem;
  width: 75%;
}
#main-navbar {
  grid-area: navbar;
}

#main-sidebar {
  grid-area: sidebar;
  margin: 2rem 1rem 0 9rem;
  box-sizing: border-box;
  width: 10rem;
}

/* Media Queries */

@media screen and (max-width: 1280px) {
  #main-sidebar {
    margin: 2rem 0 0 6rem;
  }
  #main-section {
    margin: 2rem 0 6rem 4rem;
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  #main-sidebar {
    margin: 2rem 0 0 1rem;
  }
  #main-section {
    margin: 2rem 0 6rem 0.4rem;
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .grid-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      "main main main main main"
      "main main main main main"
      "main main main main main";
  }
  #main-sidebar {
    display: none;
  }
  #main-section {
    margin: 2rem 1rem 6rem 0.6rem;
    width: 95%;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
