.primary-bg-color {
  background-color: var(--primary-color);
}
.secondary-bg-color {
  background-color: var(--secondary-color);
}
.background-bg-color {
  background-color: var(--background-color);
}
.danger-bg-color {
  background-color: var(--danger-color);
}
.success-bg-color {
  background-color: var(--success-color);
}
.warning-bg-color {
  background-color: var(--warning-color);
}

iframe {
  width: 100%;
  height: 14rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
