.primary-bg-color {
  background-color: var(--primary-color);
}
.secondary-bg-color {
  background-color: var(--secondary-color);
}
.background-bg-color {
  background-color: var(--background-color);
}

.danger-bg-color {
  background-color: var(--danger-color);
}
.success-bg-color {
  background-color: var(--success-color);
}
.warning-bg-color {
  background-color: var(--warning-color);
}

.white-bg-color {
  background-color: var(--white);
}
.off-white-bg-color {
  background-color: var(--off-white);
}
.gray-bg-color {
  background-color: var(--gray);
}
.orange-bg-color {
  background-color: var(--orange);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
