<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/13c2d874aa.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../../assets/favicon/favicon-red-black.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/utilities.css" />
    <link rel="stylesheet" href="../../css/introduction.css" />
    <link rel="stylesheet" href="../avatar/avatar.css" />
    <link rel="stylesheet" href="../button/button.css" />
    <link rel="stylesheet" href="../typography/typography.css" />
    <title>Typography</title>
  </head>
  <body>
    <div class="grid-page-container">
      <!-- NAVBAR SECTION -->
      <nav class="navbar" id="main-navbar">
        <div class="left-navbar">
          <img
            src="../../assets/logo/crimsonUI-logo.png"
            alt=""
            class="logo-img"
          />
          <div class="logo-title">
            <a href="../../index.html" id="logo-title-link">crimsonUI</a>
          </div>
        </div>
        <div class="right-navbar">
          <a href="https://github.com/omgaikwad/crimsonUI" target="_blank">
            <i class="fab fa-github fa-2x navbar-icons"></i
          ></a>

          <a href="https://twitter.com/OmGaikwad_" target="_blank">
            <i class="fab fa-twitter fa-2x navbar-icons"></i
          ></a>

          <a href="https://www.linkedin.com/in/omgaikwad1/" target="_blank">
            <i class="fab fa-linkedin-in fa-2x navbar-icons"></i
          ></a>
        </div>
      </nav>

      <!-- SIDEBAR SECTION -->
      <div class="sidebar" id="main-sidebar">
        <div class="components">
          <h3 class="components-heading">Get Started</h3>

          <ul class="components-list">
            <li class="components-list-item">
              <a href="../../pages/introduction.html">Introduction</a>
            </li>
          </ul>
        </div>

        <div class="components">
          <h3 class="components-heading">Components</h3>

          <ul class="components-list">
            <li class="components-list-item">
              <a href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="components-list-item">
              <a href="../alert/alert.html">Alert</a>
            </li>
            <li class="components-list-item">
              <a href="../badge/badge.html">Badge</a>
            </li>
            <li class="components-list-item">
              <a href="../button/button.html">Button</a>
            </li>
            <li class="components-list-item">
              <a href="../card/card.html">Cards</a>
            </li>
            <li class="components-list-item">
              <a href="../image/image.html">Image</a>
            </li>
            <li class="components-list-item">
              <a href="../input/input.html">Input</a>
            </li>
            <li class="components-list-item">
              <a href="../typography/typography.html" id="active-page"
                >Typography</a
              >
            </li>
            <li class="components-list-item">
              <a href="../lists/lists.html">Lists</a>
            </li>
            <li class="components-list-item">
              <a href="../navigation/navigation.html">Navigation</a>
            </li>

            <li class="components-list-item">
              <a href="../modal/modal.html">Modal</a>
            </li>
            <li class="components-list-item">
              <a href="../toast/toast.html">Toast</a>
            </li>
            <li class="components-list-item">
              <a href="../rating/rating.html">Rating</a>
            </li>
            <li class="components-list-item">
              <a href="../grid/grid.html">Grid</a>
            </li>
            <li class="components-list-item">
              <a href="../slider/slider.html">Slider</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- MAIN SECTION -->

      <section class="main" id="main-section">
        <h1 class="main-heading">TYPOGRAPHY</h1>
        <p>
          Below are text utilities you use by including given below classes.
        </p>

        <!-- Heading Examples -->
        <h2>Heading Examples</h2>
        <p>
          For heading you can use class names heading1, heading2, heading3,
          heading4, heading5, to style the text.
        </p>

        <!-- Code Output -->
        <div class="code-output-container flex-col">
          <div class="heading1">Heading 1</div>
          <div class="heading2">Heading 2</div>
          <div class="heading3">Heading 3</div>
          <div class="heading4">Heading 4</div>
          <div class="heading5">Heading 5</div>
        </div>

        <!-- CODE -->
        <div class="code-example-container">
          <iframe
            src="https://www.thiscodeworks.com/embed/62023570ed723a001551c156"
            style="width: 100%; height: 151px"
            frameborder="0"
          ></iframe>
        </div>

        <!-- Paragraph Text -->
        <h2>Paragraph Text</h2>
        <p>
          There are 3 sizes for paragraph text: para-lg, para-md and para-sm for
          large, medium and small respectively.
        </p>

        <div class="code-output-container flex-col">
          <p class="para-lg">This is large size paragraph.</p>
          <p class="para-md">This is medium size paragraph.</p>
          <p>This is default size paragraph.</p>
          <p class="para-sm">This is small size paragraph.</p>
        </div>

        <div class="code-example-container">
          <iframe
            src="https://www.thiscodeworks.com/embed/620235a2ed723a001551c158"
            style="width: 100%; height: 138px"
            frameborder="0"
          ></iframe>
        </div>

        <!-- Text Alignments -->
        <h2>Text Alignments</h2>
        <p>
          You can align your text with respective to parent container using
          class text-left, text-center, text-right for aligning left, center and
          right respectively.
        </p>

        <div class="code-output-container flex-col">
          <p class="text-left">This is left aligned text.</p>
          <hr />
          <p class="text-center">This is centered aligned text.</p>
          <hr />
          <p class="text-right">This is right aligned text.</p>
        </div>

        <div class="code-example-container">
          <iframe
            src="https://www.thiscodeworks.com/embed/62023618ed723a001551c15d"
            style="width: 100%; height: 151px"
            frameborder="0"
          ></iframe>
        </div>

        <!-- Extra Text Styles -->
        <h2>Extra Text Styles</h2>
        <ul>
          <li>
            TEXT GRAY: To give gray font color to your text just add class name
            as text-gray.
          </li>
          <li>
            TEXT WITH PRIMARY COLOR: To give text primary color use class name
            text-primary-color.
          </li>
          <li>
            TEXT STRIKE THROUGH: To make strike through text add class name
            text-strike-through.
          </li>
          <li>
            TEXT UNDERLINE: To get text underline use class name text-underline.
          </li>
        </ul>

        <div class="code-output-container flex-col">
          <p class="text-gray">This is gray color text.</p>
          <p class="text-primary-color">This is primary color text.</p>
          <p class="text-strike-through">This is text strike through.</p>
          <p class="text-underline">This is text underline.</p>
        </div>

        <div class="code-example-container">
          <iframe
            src="https://www.thiscodeworks.com/embed/62023641ed723a001551c160"
            style="width: 100%; height: 138px"
            frameborder="0"
          ></iframe>
        </div>

        <!-- Footer Navigation -->
        <div class="footer-navigation">
          <div class="left-footer-navigation">
            <a href="../input/input.html"
              ><i class="fas fa-caret-left fa-lg"></i> Input</a
            >
          </div>

          <div class="right-footer-navigation">
            <a href="../lists/lists.html"
              >Lists <i class="fas fa-caret-right fa-lg"></i
            ></a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
