form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 2rem 2.4rem;
  border-radius: 8px;
  gap: 0.8rem;
  background-color: var(--white);
}

form label {
  font-size: 12px;
  font-weight: 600;
}

form input {
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 2px;
}

form input:focus {
  outline: none;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.form-checkbox input {
  height: 1rem;
  width: 1rem;
  margin-right: 6px;
}

.form-checkbox p {
  font-size: 12px;
  color: var(--gray);
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.4rem;
}

::placeholder {
  color: var(--gray);
}

.form-input-success {
  color: var(--success-color);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form-input-success input {
  color: var(--success-color);
  border: 1.6px solid var(--success-color);
}
.form-input-success input:focus {
  outline: none !important;
}

.form-input-error {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--danger-color);
}
.form-input-error input {
  color: var(--danger-color);
  border: 1.6px solid var(--danger-color);
}
.form-input-error input:focus {
  outline: none !important;
}

.form-input-success p,
.form-input-error p {
  font-size: 14px;
}

input[type="file"]::file-selector-button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 6px 8px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

.form-checkbox-container,
.form-radio-container {
  display: flex;
  align-items: center;
}

.form-checkbox-container input,
.form-radio-container input {
  margin-right: 8px;
}

.input-checkbox {
  color: red;
  background-color: red;
}
