.navbar-component {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar-component {
  display: flex;
  align-items: center;
}

.right-navbar-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-hamburger-icon {
  display: none;
  color: var(--primary-color);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .navbar-hamburger-icon {
    display: block;
  }
  .right-navbar-component {
    display: none;
  }
}
