.navbar-component {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar-component {
  display: flex;
  align-items: center;
}

.right-navbar-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
