/* Alert */

.alert {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  margin: 1rem 0.4rem;
  padding: 1rem 1.6rem;
  border-radius: 0.6rem;
}

.alert-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.alert-secondary {
  background-color: var(--secondary-color);
  color: var(--white);
}

.alert-success {
  background-color: var(--success-color);
  color: var(--white);
}

.alert-warning {
  background-color: var(--warning-color);
  color: var(--white);
}

.alert-danger {
  background-color: var(--danger-color);
  color: var(--white);
}

.alert-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
